<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Monitor</title>
    <link rel="stylesheet" href="/static/scstyle.css">
    <link rel="icon" href="/static/favicon.ico">

    <!-- JS 파일에 defer 추가 -->
    <script src="/static/js/main.js?v=1.0.0" defer></script>
    <link rel="stylesheet" href="/static/scstyle.css?v=1.0.0">
</head>

<body>
  <!-- 첫 번째 테이블 -->
<table class="headtable">
    <tr>
        <th class="centeredth"><img class="imglogo" src="/static/logo.png"></th>
        <th class="location">
            <div class="title">SC Air Quality 1</div>
            <div class="date" id="time"></div>
        </th>
        <th class="centeredth"><img class="imglogo" src="/static/shield.png"></th>
    </tr>
</table>



    <div class="topspacer"></div>

    <!-- 두 번째 테이블 -->
    <table class="toptable">
                <tr>
                    <th class="legendcell" colspan="4"> <div class="legend">Current Conditions</div> </th>
                </tr>
                <tr>
                    <th class="pmcell" id="pmcell25a" colspan="2"><div id="pm25a">PM2.5: Loading...</div></th>
                    <th class="pmcell" id="pmcell10a" colspan="2"><div id="pm10a">PM10: Loading...</div></th>
                </tr>
                <tr>
                    <th class="current" colspan="2"><div class="temp" id="temperature">Temperature: Loading...</div></th>
                    <th class="current" colspan="2"><div class="temp" id="humidity">Humidity: Loading...</div></th>
                </tr>
                <tr>
                    <th class="currenthead" id="currentheader" colspan="2"><img class="faceicon" id="currentface" src="/static/moderateblack.png"></th>
                    <th class="current" colspan="2"><div class="currenttext" id="currenttext">Loading...</div></th>
                </tr>
                <tr>
                     <th class="legendcell" colspan="4"> <div class="Current Conditions Policy">Current Conditions Policy</div> </th>
                </tr>
                <tr>
                    <th class="gradecell" id="pk_2" rowspan="2">Pre-K to<br>Grade 2</th>
                    <th class="current" id="pk_2recess">Recess</th>
                    <th class="current" colspan="2"><div id="currentpkrecess">Outside</div></th>
                </tr>
                <tr>
                    <th class="current" id="pk_2academics">Academics</th>
                    <th class="current" colspan="2"><div id="currentpkacademics">Outside</div></th>
                </tr>
                <tr>
                    <th class="gradecell" id="g3_5" rowspan="2">Grade 3 to<br>Grade 5</th>
                    <th class="current">Recess</th>
                    <th class="current" colspan="2"><div id="currentg3_5recess">Outside</div></th>
                </tr>
                <tr>
                    <th class="current">Academics</th>
                    <th class="current" colspan="2"><div id="currentg3_5academics">Outside</div></th>
                </tr>
            </table>  


    <div class="topspacer"></div>

    <!-- 세 번째 테이블 -->
    <table class="conditionstable">
        <tr>
            <th class="legendcell" colspan="4"> <div class="legend">Legend</div> </th>
        </tr>
        <tr>
            <th class="good"><img class="smfaceicon" src="/static/goodblack.png"><br>Good<br>PM2.5: 0-15<br>PM10: 0-30<br>&nbsp;</th>
            <th class="moderate"><img class="smfaceicon" src="/static/moderateblack.png"><br>Moderate<br>PM2.5: 16-35<br>PM10: 31-80<br>&nbsp;</th>
            <th class="unhealthy"><img class="smfaceicon" src="/static/unhealthyblack.png"><br>Unhealthy<br>PM2.5: 36-75<br>PM10: 81-150<br>&nbsp;</th>
            <th class="veryunhealthy"><img class="smfaceicon" src="/static/veryunhealthyblack.png"><br>Very Unhealthy<br>PM2.5: 75+<br>PM10: 150+<br>&nbsp;</th>
        </tr>
        <tr>
            <th class="legend" colspan="4"><div class="policy">To see the Air Quality Policy, <a href="/static/SeoulCampusOutdoorAirQualityPolicy2022-07.jpg" target="_blank">Click here</a></div></th>
        </tr>
    </table>
</body>
</html>
